<!DOCTYPE html>

<html>
    <head>
        #{Librerias /}
    </head>
    <body>
    <div>
        <div class="envoltorio-sitio">
            <div class="interior-envoltorio-sitio">
                <div class="contenedor-portada">
                    <div class="tope-superior clearfix">

                    </div>
                    <div class="interior sitio">
                        <div class="cabezera-sitio">

                        </div>

                    </div>
                    <div class="tope-inferior">

                    </div>
                </div>
            </div>
        </div>
    </div>
        #{doLayout /}
    </body>
</html>
